div {
  background-color: white;
  width: 100px;
  border: 2px solid lightgrey;
  padding: 10px;
  margin: 0px;
}
 <style>

h1 {text-align: center;}
h1 {text-align: center;}
p {text-align: center;}
   div {text-align: center;}
    img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  color: #FFA500;
}
h2 {
  color: #EFB261;
}
h1 {
  font-family: serif;
}
</style>
